.form {
    width: 90%;   
    margin: 20px 0; 
    form {
      input {
        width: 100%;
        font-size: 0.8rem;
        padding: 1em 1.3em;
        border-radius: 10px;
        outline: none;
        border: none;
      }
    }
  }